#uploadChanger {
    background:url('./icons/upload-icon.png');
    width:113px;
    height:113px;
    margin: auto 0;
    position:relative;
    left:40%;
    top:50%;
    border:1px solid white;
}

#uploadDragBox {
    border:1px solid black;
    height:50%;
}
#boxer {

    border:1px solid black;
    overflow-y:auto;
    height:50%;
}
#search-box {
    border:2px dotted black;
    
}
.dontShow{
    visibility:hidden;
}